
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2>Employee Details
				<%= link_to '<span class="fa fa-plus-circle"></span> Add Employee'.html_safe, new_employee_path, class: "btn btn-primary pull-right" %> 
			</h2>
		</div>
	</div><br />
	<%= render 'gridprofile' %>
</div>

