<div id="fontall">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2>Employment Service History
					<%= link_to '<span class="fa fa-plus-circle"></span> Add Employee Service'.html_safe, new_service_path, class: "btn btn-primary pull-right" %>
				</h2>
			</div>
		</div>
	</div>
</div>