<div ng-app="navbar_menu_app">
	<nav class="navbar navbar-default navbar-static-top" id="fontall1">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>  
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand navbar-left" href="#">HRIS</a>
			</div>
			<div id="hris_nav" class="collapse navbar-collapse text-center">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#home"> Home </a></li>
					<li class="dropdown">
						<a href= ""> Affiliates </a>
						<ul class="dropdown-menu">
							<li><a href= ""> Company </a></li>
							<li><a href= ""> Branch </a></li>
						</ul>
					</li>
					<li><a href= ""> Employee </a></li>
					<li><a href= ""> Service History </a></li>
					<li><a href= ""> Leaves </a></li>
					<li><a href= ""> Attendance </a></li>
					<li><a href= ""> Jobs </a></li>
				</ul>
			</div> 
		</div>
	</nav>
</div>